# Put some code here.

Text_font = Text_defaultFont()
Text_size = 0.5
x=Text_centre(Text_print("YOU DO LIKE TO BE", X=160, Y=110))
x=Text_centre(Text_print("BESIDE THE SEASIDE", X=160, Y=128))
Text_size = 0.5
x=Text_centre(Text_print("I DO LIKE TO BE", X=160, Y=150))
x=Text_centre(Text_print("BESIDE THE SEA", X=160, Y=168))
WAIT

