DEF foo() { DUMP "foo" }
DEF bar(x=) { DUMP x }

DUMP foo()
bar(x="pig")

MOVE SPRITE(Rocks_manPNG) TO (,100)
MOVE SPRITE(Rocks_manPNG) TO (100,)
WAIT

FOR x= IN [1] { BREAK } ELSE { DUMP "goose" }
FOR =x IN [] { } ELSE { DUMP "sheep" }
